---
---

html * {
    font-size: 1.7dvmin;
    color: #000;
    font-family: Arial;
}

body {
    background-image: url("../img/background.png");
    background-size: 100dvw 100dvh;
    background-repeat: no-repeat;
}

.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100dvw;
    height: 100dvh;
    display: none;

    &.active {
        display: block !important;
    }
}

// ----- header div positions -----
.header {
    position: fixed;

    &.ram-options {
        left: 2dvw;
        top: 2dvh;

        input[type="range"] {
            width: 7dvw;
        }
    }

    &.ram-control-options {
        left: 12dvw;
        top: 2dvh;
    }

    &.control-unit-toggle {
        left: 40dvw;
        top: 2dvh;
    }

    &.mc-options {
        left: 50dvw;
        top: 2dvh;
    }

    &.mc-record-panel {
        left: 60dvw;
        top: 1.7dvh;

        input {
            margin-right: 0.2dvw;
            margin-bottom: 0.5dvh;
            padding: 0;
            width: 5dvw;
        }
    }

    &.settings-button {
        position: fixed;
        left: 90dvw;
        top: 2.5dvh;

        &:hover {
            cursor: pointer;
            filter: brightness(0.8);
        }
    }

    .icon {
        width: 4dvmin;
        height: 4dvmin;

        &:hover {
            cursor: pointer;
            filter: brightness(0.8);
        }

        &.blackborder {
            border: 1px solid black;
        }
    }
}

// ----- manaual inputs -----
.manual-input {
    position: fixed;
    left: 5dvw;

    &#ab-manual-input {
        top: 13dvh;
        width: 5dvw;
    }

    &#ab-manual-button {
        top: 15.5dvh;
    }

    &#db-manual-input {
        top: 93dvh;
        width: 5dvw;
    }

    &#db-manual-button {
        top: 95.5dvh;
    }
}

// ----- field positions -----
.field {
    position: fixed;
    font-size: 3dvmin;
    color: white;
    transform: translate(-50%, -50%);

    &#ab-field {
        left: 50dvw;
        top: 13dvh;
    }

    &#db-field {
        left: 50dvw;
        top: 92.5dvh;
    }

    &#acc-field {
        left: 91dvw;
        top: 48.5dvh;
    }

    &#ins-field {
        left: 49.5dvw;
        top: 37dvh;

        span {
            font-size: inherit;
        }

        #ins-high {
            color: red;
        }

        #ins-low {
            color: #207DFF;
        }
    }

    &#pc-field {
        left: 67.8dvw;
        top: 36.5dvh;
    }

    &#mc-field {
        left: 46.3dvw;
        top: 54.3dvh;
    }
}

// ----- button positions -----
.button {
    position: fixed;
    min-width: 5dvw;
    white-space: nowrap;
    transform: translate(-50%, -50%);

    &.active {
        background-color: #3aa0ff;
        color: #fff;
        box-shadow:
            0 0 0.6rem rgba(58, 160, 255, 0.9),
            0 0 1.2rem rgba(58, 160, 255, 0.6);
    }

    &#ram-db-button {
        left: 23.5dvw;
        top: 86dvh;
    }

    &#db-ram-button {
        left: 17dvw;
        top: 86dvh;
    }

    &#db-acc-button {
        left: 80.5dvw;
        top: 63dvh;
    }

    &#acc-db-button {
        left: 91.5dvw;
        top: 63dvh;
    }

    &#acc-add-button {
        left: 80.5dvw;
        top: 66dvh;
    }

    &#acc-sub-button {
        left: 80.5dvw;
        top: 69dvh;
    }

    &#acc-inc-button {
        left: 90.5dvw;
        top: 27dvh;
    }

    &#acc-dec-button {
        left: 90.5dvw;
        top: 30dvh;
    }

    &#acc-null-button {
        left: 90.5dvw;
        top: 33dvh;
    }

    &#db-ins-button {
        left: 39dvw;
        top: 60dvh;
    }

    &#ins-pc-button {
        left: 58dvw;
        top: 39.8dvh;
    }

    &#ins-ab-button {
        left: 51.7dvw;
        top: 27dvh;
    }

    &#ins-mc-button {
        left: 46.7dvw;
        top: 49dvh;
    }

    &#pc-ab-button {
        left: 67.8dvw;
        top: 27dvh;
    }

    &#pc-inc-button {
        left: 68dvw;
        top: 46dvh;
    }

    &#pc-inc-null-button {
        left: 68dvw;
        top: 49dvh;
    }

    &#mc-null-button {
        left: 63.5dvw;
        top: 80dvh;
    }

    &#mc-stop-button {
        left: 63.5dvw;
        top: 83dvh;
    }

    &#add-row-above-button {
        left: 10dvw;
        top: 80dvh;
    }

    &#delete-row-button {
        left: 10dvw;
        top: 83dvh;
    }
}

// ----- ram input positions -----
.ram-input {
    position: fixed;
    left: 0.5dvw;
    top: 45dvh;
    width: 8dvw;
    height: 18dvh;
    background-image: url("../img/ram-input.png");
    background-size: 100% 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    * {
        width: 5dvw;
        height: 2.5dvh;
        margin-left: 0.3dvw;
        margin-top: 0.2rem;
        padding: 0;
    }
}

// ----- tables -----
table {
    width: 100%;
    border: 2px solid black;

    th {
        position: sticky;
        top: 0;
        background-color: #969696;
    }

    tr:nth-child(even) {
        background-color: gainsboro;
    }

    tr:nth-child(odd) {
        background-color: white;
    }

    tr.selected {
        background-color: yellow !important;
    }

    tr.last-executed {
        background-color: #00F45D;
    }
}

#ram-table-container {
    position: fixed;
    left: 9dvw;
    top: 26dvh;
    height: 50dvh;
    width: 23dvw;
    overflow-y: auto;
}

#microcode-table-container {
    position: fixed;
    left: 45dvw;
    top: 58.7dvh;
    height: 28dvh;
    width: 15dvw;
    overflow-y: auto;
}

// ----- control unit elements -----
.control-unit-element.hidden {
    display: none !important;
}

// ----- settings menu -----
.modal {
    display: none; // Hidden by default
    position: fixed;
    z-index: 100; // Sit on top
    inset: 0; // Cover the entire viewport
    backdrop-filter: blur(5px); // Add a blur effect to the background
    background-color: rgba(0, 0, 0, 0.5); // Black background with opacity

    &.active {
        display: flex !important;
        align-items: center;
        justify-content: center;
    }

    .modal-content {
        background-color: #fefefe;
        margin: 10% auto;
        padding: 20px;
        border: 1px solid #888;
        border-radius: 2px;
        width: min(60dvw, 1200px);
        max-height: 80dvh;
        overflow-y: auto;
        text-align: center;
        position: relative;

        h2 {
            font-size: 1.5rem;
        }

        .close-button {
            position: absolute;
            top: 10px;
            right: 12px;
            color: #aaa;
            font-size: 28px;
            font-weight: bold;

            &:hover,
            &:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
}