---
---

html * {
    font-size: 1.7vmin;
    color: #000;
    font-family: Arial;
}

body {
    // background-color: #3b3f46;
    background-image: url("../img/background.png");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

.overlay {
    position: fixed;
    left: 0vw;
    top: 0vh;
    width: 100vw;
    height: 100vh;
    display: none;

    &.active {
        display: block !important;
    }
}

// ----- header div positions -----
.header {
    position: fixed;

    &.ram-options {
        left: 2vw;
        top: 2vh;

        input[type="range"] {
            width: 7vw;
        }
    }

    &.ram-control-options {
        left: 12vw;
        top: 2vh;
    }

    &.control-unit-toggle {
        left: 40vw;
        top: 2vh;
    }

    &.mc-options {
        left: 50vw;
        top: 2vh;
    }

    &.mc-record-panel {
        left: 60vw;
        top: 1.7vh;

        input {
            margin-right: 0.2vw;
            margin-bottom: 0.5vh;
            padding: 0;
            width: 5vw;
        }
    }

    &.settings-button {
        position: fixed;
        left: 90vw;
        top: 2.5vh;

        &:hover {
            cursor: pointer;
            filter: brightness(0.8);
        }
    }

    .icon {
        width: 4vmin;
        height: 4vmin;
        max-width: 100vw;
        max-height: 100vh;

        &:hover {
            cursor: pointer;
            filter: brightness(0.8);
        }

        &.blackborder {
            border: 1px solid black;
        }
    }
}

// ----- manaual inputs -----
.manual-input {
    position: fixed;
    left: 5vw;

    &#ab-manual-input {
        top: 13vh;
        width: 5vw;
        height: 1.8vh;
    }

    &#ab-manual-button {
        top: 15.5vh;
    }

    &#db-manual-input {
        top: 93vh;
        width: 5vw;
        height: 1.8vh;
    }

    &#db-manual-button {
        top: 95.5vh;
    }
}

// ----- field positions -----
.field {
    position: fixed;
    font-size: 3vmin;
    color: white;

    &#ab-field {
        left: 50vw;
        top: 11vh;
    }

    &#db-field {
        left: 50vw;
        top: 90.8vh;
    }

    &#acc-field {
        left: 91vw;
        top: 46vh;
        transform: translate(-50%, 0%);
    }

    &#ins-field {
        left: 49.5vw;
        top: 35vh;
        transform: translate(-50%, 0%);

        span {
            font-size: 3vmin;
        }

        #ins-high {
            color: red;
        }

        #ins-low {
            color: #207DFF;
        }
    }

    &#pc-field {
        left: 66.5vw;
        top: 35vh;
    }

    &#mc-field {
        left: 45.5vw;
        top: 52.5vh
    }
}

// ----- button positions -----
.button {
    position: fixed;
    min-width: 5vw;
    transform: translate(-50%, -50%);

    &.active {
        background-color: #3aa0ff;
        color: #fff;
        box-shadow:
            0 0 0.6rem rgba(58, 160, 255, 0.9),
            0 0 1.2rem rgba(58, 160, 255, 0.6);
    }

    &#ram-db-button {
        left: 23.5vw;
        top: 86vh;
    }

    &#db-ram-button {
        left: 17vw;
        top: 86vh;
    }

    &#db-acc-button {
        left: 80.5vw;
        top: 63vh;
    }

    &#acc-db-button {
        left: 91.5vw;
        top: 63vh;
    }

    &#acc-add-button {
        left: 80.5vw;
        top: 66vh;
    }

    &#acc-sub-button {
        left: 80.5vw;
        top: 69vh;
    }

    &#acc-inc-button {
        left: 90.5vw;
        top: 27vh;
    }

    &#acc-dec-button {
        left: 90.5vw;
        top: 30vh;
    }

    &#acc-null-button {
        left: 90.5vw;
        top: 33vh;
    }

    &#db-ins-button {
        left: 39vw;
        top: 60vh;
    }

    &#ins-pc-button {
        left: 58vw;
        top: 39.8vh;
    }

    &#ins-ab-button {
        left: 51.7vw;
        top: 27vh;
    }

    &#ins-mc-button {
        left: 46.7vw;
        top: 49vh;
    }

    &#pc-ab-button {
        left: 67.8vw;
        top: 27vh;
    }

    &#pc-inc-button {
        left: 68vw;
        top: 46vh;
    }

    &#pc-inc-null-button {
        left: 68vw;
        top: 49vh;
    }

    &#mc-null-button {
        left: 63.5vw;
        top: 80vh;
    }

    &#mc-stop-button {
        left: 63.5vw;
        top: 83vh;
    }

    &#add-row-above-button {
        left: 10vw;
        top: 80vh;
    }

    &#delete-row-button {
        left: 10vw;
        top: 83vh;
    }
}

// ----- ram input positions -----
.ram-input {
    position: fixed;
    left: 0.5vw;
    top: 45vh;
    width: 8vw;
    height: 18vh;
    background-image: url("../img/ram-input.png");
    background-size: 100% 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    * {
        width: 5vw;
        height: 2.5vh;
        margin-left: 0.3vw;
        margin-top: 0.2rem;
        padding: 0;
    }
}

// ----- tables -----
table {
    width: 100%;
    border: 2px solid black;

    th {
        position: sticky;
        top: 0;
        background-color: #969696;
    }

    tr:nth-child(even) {
        background-color: gainsboro;
    }

    tr:nth-child(odd) {
        background-color: white;
    }

    tr.selected {
        background-color: yellow !important;
    }

    tr.last-executed {
        background-color: #00F45D;
    }
}

#ram-table-container {
    position: fixed;
    left: 9vw;
    top: 26vh;
    height: 50vh;
    width: 23vw;
    overflow-y: auto;
}

#microcode-table-container {
    position: fixed;
    left: 45vw;
    top: 58.7vh;
    height: 28vh;
    width: 15vw;
    overflow-y: auto;
}

// ----- control unit elements -----
.control-unit-element.hidden {
    display: none !important;
}

// ----- settings menu -----
.modal {
    display: none; // Hidden by default
    position: fixed;
    z-index: 100; // Sit on top
    inset: 0; // Cover the entire viewport
    backdrop-filter: blur(5px); // Add a blur effect to the background
    background-color: rgba(0, 0, 0, 0.5); // Black background with opacity

    &.active {
        display: flex !important;
        align-items: center;
        justify-content: center;
    }

    .modal-content {
        background-color: #fefefe;
        margin: 10% auto;
        padding: 20px;
        border: 1px solid #888;
        border-radius: 2px;
        width: min(60%, 1200px);
        max-height: 80vh;
        overflow-y: auto;
        text-align: center;
        position: relative;

        h2 {
            font-size: 1.5rem;
        }

        .close-button {
            position: absolute;
            top: 10px;
            right: 12px;
            color: #aaa;
            font-size: 28px;
            font-weight: bold;

            &:hover,
            &:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
}